header {
    background-image: url('./header-background.png');
    background-repeat: space;
    display: grid;
    height: 900px;
    grid-template-columns: 832px;
    grid-template-rows: 224px;
    /*grid-column-gap: 626px;
    grid-column-gap: 216px;*/
    padding-top: 626px;
    padding-left: 216px;

}

div {
    color: white;

}

p {
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 10px;
}

p:first-of-type,
p:last-of-type {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 20px;
}

p:nth-of-type(2) {
    line-height: 1;
}

span {
    color: #f1ad1d;
}